/* Header */
.bg-light{
    background-color: #eb4034 !important;
}


header{
    position: fixed;
    width: 100%;
    top:0;
}


.navbar .container{
    display: block;
    justify-content: space-between !important;
}

.searchbar{
    text-align: center;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

/* --- Main content ---*/
#main{
    margin-top: 75px;
    font-weight: bold;
}    

article{
    border-bottom:2px solid grey;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

span{
    margin: auto;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #eb4034; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  p{
      margin: auto;
      margin-right: 10px;
      text-align: center;
  }

  /*TYPES */
  
  .types{
     display: flex; 
  }

  .normal{
      background-color: #b8917b;
      color: white;
      padding: 5px;
  }

  .fighting{
    background-color: #b8917b;
    color: white;
    padding: 5px;
}

.flying{
    background-color: #7d6de3;
    color: white;
    padding: 5px;
}

.poison{
    background-color: #6a24c7;
    color: white;
    padding: 5px;
}

.ground{
    background-color: #d9c375;
    color: white;
    padding: 5px;
}

.rock{
    background-color: #ab8602;
    color: white;
    padding: 5px;
}

.bug{
    background-color: #9ec746;
    color: white;
    padding: 5px;
}

.ghost{
    background-color: #6516cc;
    color: white;
    padding: 5px;
}

.steel{
    background-color: #c1bbc9;
    color: white;
    padding: 5px;
}

.fire{
    background-color: #e06404;
    color: white;
    padding: 5px;
}

.water{
    background-color: #044ae0;
    color: white;
    padding: 5px;
}

.grass{
    background-color: #039906;
    color: white;
    padding: 5px;
}

.electric{
    background-color: #bdb300;
    color: white;
    padding: 5px;
}

.psychic{
    background-color: #f067be;
    color: white;
    padding: 5px;
}

.ice{
    background-color: #7dd4ff;
    color: white;
    padding: 5px;
}

.dragon{
    background-color: #6838b5;
    color: white;
    padding: 5px;
}

.dark{
    background-color: #2f2f30;
    color: white;
    padding: 5px;
}

.fairy{
    background-color: #fcb6dd;
    color: white;
    padding: 5px;
}                  


.shadow{
    background-color: #703e87;
    color: white;
    padding: 5px;
}
